<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.item_listmapper">

    <update id="update">
        update item_list
        <set>
            <if test ="item_detail != null"> item_detail = #{item_detail}, </if>
            <if test ="item_inventory != null"> item_inventory = #{item_inventory}</if>
            where item_id = #{item_id}
        </set>
    </update>
</mapper>