<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>CartOrderServlet</servlet-name>
    <servlet-class>com.shop.server.CartOrderServlet</servlet-class>
    <init-param>
      <param-name>allowedMethods</param-name>
      <param-value>GET,POST,PUT,DELETE</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description></description>
    <display-name>MenuMangeServlet</display-name>
    <servlet-name>MenuMangeServlet</servlet-name>
    <servlet-class>com.shop.server.MenuMangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuMangeServlet</servlet-name>
    <url-pattern>/MenuMangeServlet</url-pattern>
  </servlet-mapping>
</web-app>